/* app css stylesheet */
/**

Background: FAFAFA

Fireplace logo
inner: E59E37
outer: DC7B05

search button:
inner: DE8B1F
outer: C46500

Link text:
DE8B21
DC8616

Newest dropdown button:
inner: CCCCCC
outer: B0B0B0

Gray text: 9A9A9A


  text-shadow:
   -1px -1px 0 #DC7B05,
    1px -1px 0 #DC7B05,
    -1px 1px 0 #DC7B05,
     1px 1px 0 #DC7B05;
**/

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

body {
   font-family: 'Open Sans', sans-serif;
   background-color: #FAFAFA;
   padding: 50px 0;
}

h1 {
   font-size: 84px;
   color: #E7852E;
   margin: 20px 0;
   background: -webkit-linear-gradient(#E7852E, #f3c445);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1 img {
   text-align: center;
   width: 100px;
   margin-right: 25px;
}

h2 {
   font-size: 28px;
   line-height: 36px;
}

a i[class*="icon-"]:hover {
   text-decoration: none;
}

/* we leave the href="" off of ng events so we don't trigger angular's router,
   but that causes the pointer to disappear in IE, so add it back here */
button, a {
   cursor: pointer;
}

nav a, .nav a, .sidebar a, .modal-footer a {
   color: #E59E37;
}

nav a:hover, .nav a:hover, .sidebar a:hover, .modal-footer a:hover {
   color: #E7852E;
}

div[ng-view] {
   min-height: 350px;
}

nav {
   padding: 0;
   margin: 0 0 20px;
   position: relative;
   z-index: 2;
}

nav .nav {
   font-size: 16px;
   line-height: 46px;
   margin: 15px 0 0;
}

.pull-right {
   margin-left: 15px;
}

a.brand {
   font-size: 42px;
   font-weight: bold;
   line-height: 46px;
   text-decoration: none;
   color: #E59E37;
   background: -webkit-linear-gradient(#E7852E, #f3c445);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

a.brand:hover {
   text-decoration: none;
}

a.brand img {
   height: 42px;
   margin-right: 6px;
   position: relative;
   top: -8px;
}

#searchbox {
   position: relative;
}

#searchbox .input-append {
   width: 90%;
}

#searchbox button.btn {
   background-color: #DE8B1F;
   color: white;
}

.sidebar label.checkbox {
   display: block;
   color: #555;
}

#filters {
   margin-bottom: 15px;
}

#filters li.all a {

}

#filters li a {
   color: #555;
   font-size: 14px;
   padding: 0 15px 0 5px;
}

#filters li a:hover {
   color: #000;
}

#filters li i.icon-remove-sign {
   opacity: .8;
   cursor: pointer;
   margin-right: -10px;
   margin-top: 8px;
   color: #946b6e;
}

#filters li span {
   color: #9A9A9A;
   padding-left: 5px;
   font-weight: normal;
}

#filters li i:hover {
   opacity: 1;
   color: red;
}

#filters li.active a,
#filters li.active a:hover,
#filters li.active a:focus {
   font-weight: bold;
   border-radius: 0;
   background-color: transparent;
   color: #000000;
   text-shadow: none;
}

.isotope-item {
   z-index: 2;
}

.isotope-hidden.isotope-item {
   pointer-events: none;
   z-index: 1;
}

.isotope,
.isotope .isotope-item {
   /* change duration value to whatever you like */
   -webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
   -ms-transition-duration: 0.8s;
   -o-transition-duration: 0.8s;
   transition-duration: 0.8s;
}

.isotope {
   -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
   -ms-transition-property: height, width;
   -o-transition-property: height, width;
   transition-property: height, width;
}

.isotope .isotope-item {
   -webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
   -ms-transition-property:     -ms-transform, opacity;
   -o-transition-property:      -o-transform, opacity;
   transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
   -webkit-transition-duration: 0s;
   -moz-transition-duration: 0s;
   -ms-transition-duration: 0s;
   -o-transition-duration: 0s;
   transition-duration: 0s;
}

#feeds {
   /*width: 100%;*/
   position: relative;
   /*padding: 0;*/
   /*margin: 0;*/
}

#feeds > article {
   float: left;
   /*max-width: 270px;*/
   /*min-width: 190px;*/
   /*max-height: 350px;*/
   /*min-height: 150px;*/
   overflow: hidden;
   position: relative;
   border-radius: 2px;
   background-color: white;
   text-overflow: ellipsis;
   height: 350px;
   margin: 0 0 10px;
   width: 31%;
   border: 1px solid #dddddd;
   cursor: pointer;
}

#feeds > article:hover {
   border-color: orange;
}

#feeds > article:hover:after {
   opacity: .3;
   position: absolute;
   left: 0;
   bottom: 0;
   top: 0;
   right: 0;
   height: auto;
   border-radius: 2px;
   content: " ";
   z-index: 250;
   background: #555;
   filter: none;
}
#feeds > article > * {
   margin-left: 10px;
   margin-right: 10px;
}

#feeds > article > footer {
   display: none;
   position: absolute;
   bottom: 0;
   min-height: 3em;
   width: 100%;
   border-radius: 2px;
   z-index: 251;
   text-align: center;
   background-color: #444;
   color: #ffe7bb;
   margin: 0;
}

#feeds > article:hover footer {
   display: block;
}

#feeds > article:hover footer {
   display: block;
}

#feeds > article [ng-bind-html] img:first-child {
   margin-left: 0;
   margin-right: 0;
   max-width: 100%;
}

#feeds > article h2 {
   max-height: 2.6em;
   font-size: 16px;
   line-height: 20px;
   text-overflow: ellipsis;
   overflow: hidden;
}

a [class^="icon-"]:before, a [class*=" icon-"]:before {
   cursor: pointer;
}

#feeds > article .left {
   float: left;
   margin-right: 5px;
}

#feeds > article .right {
   float: right;
   margin-left: 5px;
}

#feeds > article:after {
   position: absolute;
   bottom: 0;
   left: -10%;
   display: block;
   width: 120%;
   height: 25px;
   content: " ";
   background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#feeds > article[data-feed="whatif"] h1 {
   display: none;
}

#foot {
   text-align: center;
   color: #bbbbbb;
}

#foot a {
   text-decoration: underline;
   color: #bbbbbb;
}

#foot ul li:last-child:after {
   content: "";
}

article.box {
   /*font-size: 24px;*/
   /*line-height: 32px;*/
   /*background-color: white;*/
   /*border-radius: 20px;*/
   /*box-shadow: 0 2px 2px rgba(0,0,0,.4);*/
   padding: 25px;
   border: 1px solid #bbbbbb;
}

code {
   /*font-size: 20px;*/
   /*line-height: 1.25em;*/
}

#login h2 {
   margin-top: 0;
   text-align: center;
}

#login ul {
   text-align: center;
}

#login ul li {
   margin-bottom: 10px;
}

#login ul li.block {
   display: block;
   margin: 0 50px 10px;
}

#login ul li.block button {
   height: 3em;
}

#addFeeds {
   display: block;
}

#addFeeds a.dropdown-toggle {
   display: block;
   width: auto;
   font-size: 18px;
   line-height: 24px;
   text-decoration: none;
   padding: 5px;
   margin: 15px 0;
}

#addFeeds a.dropdown-toggle:hover {
   background-color: #eee;
}

#addFeeds a.dropdown-toggle i {
   display: inline-block;
}

#addFeeds .dropdown-menu {
   max-height: 200px;
   overflow: auto;
}

/*#addfeeds a {*/
   /*font-size: 16px;*/
   /*text-decoration: none;*/
/*}*/

#demoBanner {
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   background-color: #E59E37;
   color: #ffffff;
   text-shadow: 0 1px 0 rgba(251, 255, 223, 0.49);
   margin: 0 0 20px;
   text-align: center;
   padding: 5px;
   position: relative;
}

#about {
   margin-bottom: 20px;
}

#about h2, #about h3 {
   /*text-align: center;*/
}

#about i {
   color: #E7852E;
}

section.sidebar {
   min-height: 500px;
}

.nav-list li {
   line-height: 28px;
   font-size: 20px;
}

.modal {
   width: 650px;
   margin-left: -325px;
   left: 50%;
   top: 10%;
}

.modal-footer {
   padding: 2px;
}

.modal-footer ul {
   margin-bottom: 0;
}

.modal-footer ul li {
   font-size: 24px;
   line-height: 28px;
   padding: 2px 4px;
   margin: 0 2px;
}

.modal-footer ul li:hover {
   background-color: #ddd;
}

@media (max-width:480px) {
   .modal {
      position: absolute;
      margin: 10px;
      left: 0;
      top: 0;
   }

   .modal-body {
      max-height: none;
      overflow: visible;
   }
}

@media (max-width:767px) {
   #feeds > article {
      width: 100%;
      height: auto;
      min-height: 100px;
      max-height: 350px;
      margin: 10px;
   }

   section.sidebar {
      width: auto;
      min-height: inherit;
      margin: 15px;
      background-color: #ddd;
      padding: 10px;
   }

   .modal {
      width: 96%;
      margin: 2%;
      top: 0;
      left: 0;
      font-size: 12px;
   }

   .modal-body {
      max-height: 85%;
   }

   .modal-footer ul li {
      font-size: 18px;
      line-height: 22px;
   }
}


@media (min-width:768px) and (max-width:979px) {
   #feeds > article {
      width: 43%;
   }

   #searchbox .input-append {
      width: 75%;
   }

   .modal {
      width: 550px;
      margin-left: -225px;
      left: 50%;
      top: 10%;
   }
}

@media (min-width:1200px) {
   #feeds > article {
      width: 23%;
   }
}