/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

body {
   font-size: 20px;
   line-height: 1.25em;
   font-family: 'Open Sans', sans-serif;
   background-color: #999;
}

h1 {
   font-size: 84px;
   color: #E7852E;
   margin: 20px 0;
   background: -webkit-linear-gradient(#E7852E, #f3c445);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1 img {
   text-align: center;
   width: 100px;
   margin-right: 25px;
}

h2 {
   font-size: 28px;
   line-height: 36px;
}

section.intro {
   position: relative;
   margin: 10px;
   padding: 20px 30px;
   box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
   background-color: #ffffff;
}

section.intro a.dismiss {
   display: block;
   font-weight: bold;
   font-size: 24px;
   line-height: 24px;
   text-decoration: none;
}

section.intro h1, section.intro h2 {
   text-align: center;
}

ul.unstyled {
   list-style: none;
   margin: 0;
}

ul.unstyled li {
   display: inline;
}

button {
   font-size: 20px;
   line-height: 28px;
   cursor: pointer;
}

/* we leave the href="" off of ng events so we don't trigger angular's router,
   but that causes the pointer to disappear in IE, so add it back here */
a { cursor: pointer; }

nav {
   background-color: #eee;
   padding: 10px;
   margin: 0;
   box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
   position: relative;
   z-index: 2;
}

.pull-right {
   margin-left: 15px;
}

nav .btn {
   margin-top: 2px;
}

.brand {
   font-size: 28px;
   font-weight: bold;
   line-height: 32px;
   text-decoration: none;
   color: #E7852E;
   background: -webkit-linear-gradient(#E7852E, #f3c445);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.brand img {
   height: 30px;
   margin-right: 10px;
   position: relative;
   top: -2px;
}

section.settings {
   background-color: #e5e5e5;
   padding: 5px 15px;
   margin: 0;
   box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

#filters {
   display: inline;
}

#filters li {
   border-radius: 5px;
   border: 1px solid #999;
   padding: 2px 4px;
   margin: 3px;
}

#filters li:hover {
   background-color: #fafafa;
}

#filters li label {
   padding: 0;
}

#filters li i {
   opacity: .8;
   margin-left: 4px;
   font-size: 14px;
   line-height: 20px;
   cursor: pointer;
}

i.icon-remove-sign {
   color: #946b6e;
}

#filters li i:hover {
   opacity: 1;
   color: red;
}

#filters li.link {
   border: none;
   padding: 0;
   font-size: 14px;
   line-height: 20px;
}

#info-button {
   color: #0088CC;
   font-size: 28px;
   line-height: 32px;
   cursor: pointer;
}

#info-button:hover {
   text-decoration: none;
}

#info-button i {
   cursor: pointer;
}

#info-button.active {
   opacity: .4;
   color: #aaa;
}

section.intro i {
   color: #E7852E;
}


.isotope-item {
   z-index: 2;
}

.isotope-hidden.isotope-item {
   pointer-events: none;
   z-index: 1;
}

.isotope,
.isotope .isotope-item {
   /* change duration value to whatever you like */
   -webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
   -ms-transition-duration: 0.8s;
   -o-transition-duration: 0.8s;
   transition-duration: 0.8s;
}

.isotope {
   -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
   -ms-transition-property: height, width;
   -o-transition-property: height, width;
   transition-property: height, width;
}

.isotope .isotope-item {
   -webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
   -ms-transition-property:     -ms-transform, opacity;
   -o-transition-property:      -o-transform, opacity;
   transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
   -webkit-transition-duration: 0s;
   -moz-transition-duration: 0s;
   -ms-transition-duration: 0s;
   -o-transition-duration: 0s;
   transition-duration: 0s;
}

section.feeds {
   width: 100%;
   position: relative;
   padding: 0;
   margin: 0;
}

section.feeds article {
   float: left;
   max-width: 270px;
   min-width: 190px;
   max-height: 350px;
   min-height: 150px;
   overflow: hidden;
   position: relative;
   border-radius: 10px;
   background-color: white;
   padding: 10px;
   margin: 5px;
   text-overflow: ellipsis;
}

section.feeds article h2 {
   max-height: 2.5em;
   text-overflow: ellipsis;
   overflow: hidden;
}

/* using bootstrap for these */
/*@media (max-width: 900px) {*/
   /*section.feeds article {*/
      /*max-width: 45%;*/
      /*margin: 10px 2.48%;*/
   /*}*/
/*}*/

/*@media (max-width: 700px) {*/
   /*section.feeds article {*/
      /*max-width: none;*/
      /*min-width: inherit;*/
      /*min-height: inherit;*/
      /*width: auto;*/
      /*margin: 5px 0;*/
   /*}*/
/*}*/

a [class^="icon-"]:before, a [class*=" icon-"]:before {
   cursor: pointer;
}

section.feeds article .left {
   float: left;
   margin-right: 5px;
}

section.feeds article .right {
   float: right;
   margin-left: 5px;
}

section.feeds article:after {
   position: absolute;
   bottom: 0;
   left: -10%;
   display: block;
   width: 120%;
   height: 25px;
   content: " ";
   background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#foot {
   text-align: center;
   margin: 20px 10px;
   color: #eee;
}

#foot ul li:last-child:after {
   content: "";
}

div.login {
   margin: 20px auto 20px;
   font-size: 24px;
   line-height: 32px;
   background-color: white;
   border-radius: 20px;
   box-shadow: 0 2px 2px rgba(0,0,0,.4);
   max-width: 600px;
}

div.login h2 {
   margin-top: 0;
   text-align: center;
}

div.login ul {
   text-align: center;
}

div.login ul li {
   margin-bottom: 10px;
}

div.login ul li.block {
   display: block;
   margin: 0 50px 10px;
}

div.login ul li.block button {
   height: 3em;
}


#addfeeds {
   margin: 5px 25px 5px 0;
   padding: 0;
   position: relative;
   display: inline-block;
}

#addfeeds a {
   display: inline-block;
   height: 24px;
   line-height: 24px;
   position: relative;
   margin: 0;
   padding: 0 10px 0 14px;
   background: #0ac92b;
   color: #fff;
   font-size: 16px;
   text-decoration: none;
   cursor: default;
}

#addfeeds a:after {
   content: "";
   position: absolute;
   top: 0;
   right: -12px;
   width: 0;
   height: 0;
   border-color: transparent transparent transparent #0ac92b;
   border-style: solid;
   border-width: 12px 0 12px 12px;
}

section.settings .dropdown-menu {
   max-height: 250px;
   overflow: auto;
}

#feeds article[data-feed="whatif"] h1 {
   display: none;
}