/* app css stylesheet */

[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }

body {
   font-family: 'Open Sans', sans-serif;
   background-color: #FAFAFA;
   padding: 50px 40px;
}

h1 {
   font-size: 84px;
   color: #E7852E;
   margin: 20px 0;
   background: -webkit-linear-gradient(#E7852E, #f3c445);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

h1 img {
   text-align: center;
   width: 100px;
   margin-right: 25px;
}

h2 {
   font-size: 28px;
   line-height: 36px;
}

/* we leave the href="" off of ng events so we don't trigger angular's router,
   but that causes the pointer to disappear in IE, so add it back here */
button, a {
   cursor: pointer;
}

nav a, .nav a, .sidebar a {
   color: #E59E37;
}

nav a:hover, .nav a:hover, .sidebar a:hover {
   color: #E7852E;
}

div[ng-view] {
   min-height: 350px;
}

nav {
   padding: 0;
   margin: 0 0 20px;
   position: relative;
   z-index: 2;
}

nav .nav {
   font-size: 16px;
   line-height: 46px;
   margin: 15px 0 0;
}

.pull-right {
   margin-left: 15px;
}

a.brand {
   font-size: 42px;
   font-weight: bold;
   line-height: 46px;
   text-decoration: none;
   color: #E59E37;
   background: -webkit-linear-gradient(#E7852E, #f3c445);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

a.brand:hover {
   text-decoration: none;
}

a.brand img {
   height: 42px;
   margin-right: 6px;
   position: relative;
   top: -8px;
}

#filters li i {
   opacity: .8;
   margin-left: 4px;
   cursor: pointer;
   margin-top: 4px;
}

#filters li span {
   color: #9A9A9A;
}

i.icon-remove-sign {
   color: #946b6e;
}

#filters li i:hover {
   opacity: 1;
   color: red;
}

.isotope-item {
   z-index: 2;
}

.isotope-hidden.isotope-item {
   pointer-events: none;
   z-index: 1;
}

.isotope,
.isotope .isotope-item {
   /* change duration value to whatever you like */
   -webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
   -ms-transition-duration: 0.8s;
   -o-transition-duration: 0.8s;
   transition-duration: 0.8s;
}

.isotope {
   -webkit-transition-property: height, width;
   -moz-transition-property: height, width;
   -ms-transition-property: height, width;
   -o-transition-property: height, width;
   transition-property: height, width;
}

.isotope .isotope-item {
   -webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
   -ms-transition-property:     -ms-transform, opacity;
   -o-transition-property:      -o-transform, opacity;
   transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
   -webkit-transition-duration: 0s;
   -moz-transition-duration: 0s;
   -ms-transition-duration: 0s;
   -o-transition-duration: 0s;
   transition-duration: 0s;
}

#feeds {
   /*width: 100%;*/
   position: relative;
   /*padding: 0;*/
   /*margin: 0;*/
}

#feeds article {
   float: left;
   /*max-width: 270px;*/
   /*min-width: 190px;*/
   /*max-height: 350px;*/
   /*min-height: 150px;*/
   overflow: hidden;
   position: relative;
   border-radius: 10px;
   background-color: white;
   /*margin: 5px;*/
   text-overflow: ellipsis;
   width: 245px;
   margin: 5px;
   height: 350px;
   border: 1px solid #dddddd;
   padding: 5px;
}

#feeds article h2 {
   max-height: 2.6em;
   text-overflow: ellipsis;
   overflow: hidden;
}

a [class^="icon-"]:before, a [class*=" icon-"]:before {
   cursor: pointer;
}

#feeds article .left {
   float: left;
   margin-right: 5px;
}

#feeds article .right {
   float: right;
   margin-left: 5px;
}

#feeds article:after {
   position: absolute;
   bottom: 0;
   left: -10%;
   display: block;
   width: 120%;
   height: 25px;
   content: " ";
   background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#feeds article[data-feed="whatif"] h1 {
   display: none;
}

#foot {
   text-align: center;
   margin: 20px 10px;
   color: #bbbbbb;
}

#foot a {
   text-decoration: underline;
   color: #bbbbbb;
}

#foot ul li:last-child:after {
   content: "";
}

article.box {
   /*font-size: 24px;*/
   /*line-height: 32px;*/
   /*background-color: white;*/
   /*border-radius: 20px;*/
   /*box-shadow: 0 2px 2px rgba(0,0,0,.4);*/
   padding: 25px;
   border: 1px solid #bbbbbb;
}

code {
   /*font-size: 20px;*/
   /*line-height: 1.25em;*/
}

#login h2 {
   margin-top: 0;
   text-align: center;
}

#login ul {
   text-align: center;
}

#login ul li {
   margin-bottom: 10px;
}

#login ul li.block {
   display: block;
   margin: 0 50px 10px;
}

#login ul li.block button {
   height: 3em;
}


#addfeeds a {
   display: block;
   font-size: 16px;
   text-decoration: none;
}

#demoBanner {
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   background-color: #E59E37;
   color: #ffffff;
   text-shadow: 0 1px 0 rgba(251, 255, 223, 0.49);
   margin: 0 0 20px;
   text-align: center;
   padding: 5px;
   position: relative;
}

#about h2, #about h3 {
   /*text-align: center;*/
}

#about i {
   color: #E7852E;
}

section.sidebar {
   min-height: 500px;
}

.nav-list li {
   line-height: 28px;
   font-size: 20px;
}

ul.nav-pills li.active a,
ul.nav-pills li.active a:hover,
ul.nav-pills li.active a:focus {
   border-radius: 0;
   background-color: #fbfbfb;
   color: #E7852E;
   border-bottom: 1px solid rgba(231,133,46,.2);
}

/* using bootstrap for these */
/*@media (max-width: 900px) {*/
/*#feeds article {*/
/*max-width: 45%;*/
/*margin: 10px 2.48%;*/
/*}*/
/*}*/

/*@media (max-width: 700px) {*/
/*#feeds article {*/
/*max-width: none;*/
/*min-width: inherit;*/
/*min-height: inherit;*/
/*width: auto;*/
/*margin: 5px 0;*/
/*}*/
/*}*/
