
<article id="about" class="container">
    <section class="row">
        <div class="span3 sidebar">
            <ul class="nav nav-list">
                <li>
                    <a href="#hearth">
                    {{auth.authenticated? "My Feeds" : "New Account"}}
                    </a>
                </li>
                <li><a href="#demo">See a Demo</a></li>
            </ul>
        </div>
        <div class="span9">
            <article class="box">
                <h2>A real-time content aggregator built with Angular <i class="icon-heart"></i> Firebase</h2>

                <p>Create a custom list of feeds, bookmark it, and come back any time for your real-time digital scoop.</p>

                <p><a href="https://github.com/firebase/firereader">Fork on GitHub</a> to build your own Angular + Firebase apps.</p>
            </article>
        </div>
    </section>
</article>