
<div id="hearth" class="container">
    <div class="row">

        <!-- CONTROLS FOR SELECTING FEEDS AND SEARCHING -->
        <section class="span3 sidebar">
            <h3 id="demoBanner" ng-cloak ng-hide="auth.authenticated">Demo Feeds</h3>

            <!--<form class="form-search">
                <div class="input-append">
                    <input type="text" class="span2 search-query" ng-model="articleFilter">
                    <button class="btn" ng-disabled="!articleFilter" ng-click="articleFilter=null"><i class="icon-search"></i></button>
                </div>
            </form>-->
            <form id="searchbox">
                <div class="input-append">
                    <input type="text" class="input-block-level" ng-model="articleFilter">
                    <button ng-disabled="!articleFilter" class="btn" ng-click="articleFilter=null"><i class="icon-search"></i></button>
                </div>
            </form>


            <div id="addFeeds" class="btn-group">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus pull-right"></i>Add Feed...</a>
                <ul class="dropdown-menu">
                    <!--<li><input ng-model="feedChoiceFilter" placeholder="filter" /></li>-->
                    <li ng-repeat="feed in feedChoices | filter:feedChoiceFilter | orderBy:feed.title"><a title="{{feed.description}}" ng-click="addFeed(feed.$id)">{{feed.title}}</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="addCustomFeed()">Something else...</a></li>
                </ul>
            </div>

            <ul id="filters" class="nav nav-list" ng-cloak ng-hide="noFeeds">
                <li class="all"><a ng-click="activateAllFeeds()"><!--<a href="#/hearth">--><i class="icon-double-angle-right"></i> All Feeds</a></li>
                <li ng-repeat="feed in feeds | orderBy:title"><a ng-click="activateOneFeed(feed.id)"><!--<a href="#/hearth/{{feed.id}}">--><i class="icon-angle-right"></i> {{feed.title}}<span ng-show="counts[feed.id] > 0"> ({{counts[feed.id]}})</span><i class="icon-remove-sign pull-right" ng-cloak ng-hide="isDemo" ng-click="removeFeed(feed.id, $event)"></i></a></li>
            </ul>

            <label class="checkbox" ng-cloak ng-hide="noFeeds">
                <input type="checkbox" ng-model="sortDesc" /> newest first
            </label>
        </section>

        <!-- THE LIST OF FEEDS I WANT TO READ -->
        <section class="span9" id="feeds" fb-isotope="filteredArticles" fb-selector="article[data-feed]">
           <article data-time="{{article.date}}" data-feed="{{article.feed}}" ng-click="showArticle(article)" ng-class="{filtered:isFiltered(article)}" id="{{article.$id}}">
               <h2 title="{{article.title}}">{{article.title}}</h2>
               <div ng-bind-html-unsafe="article.description"></div>
               <p>&nbsp;</p>
               <footer>{{feedName(article)}}<br />{{article.date | date:'short'}}</footer>
           </article>
        </section>

    </div>
</div>