<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="NavCtrl">
  <nav>
     <a href="#/" class="brand"><img src="img/logo.png" />Fireplace</a>
     <a href="#/account" ng-cloak ng-hide="authUser" class="pull-right btn btn-warning">Customize My Fireplace</a>
     <a href="#/account" ng-cloak ng-show="authUser" class="pull-right btn btn-warning">Hello, {{authUser}}</a>
     <a href="#info-button" id="info-button" ng-click="toggleInfo($event)" ng-class="{active:showInfo}" class="pull-right active" title="What am I looking at?"><i class="icon-info-sign"></i></a>
  </nav>

  <section ng-show="showInfo" class="intro">
      <a href="http://katowulf.github.com/fireplace"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>

      <a href="#" ng-click="toggleInfo($event)" class="pull-right"><i class="icon-remove"></i></a>
      <!--<h1><img src="img/logo.png" />Fireplace</h1>-->

      <h2>A unique, real-time content aggregator
          <br /> <a href="http://www.angularjs.com">Angular</a> <i class="icon-heart"></i> <a href="http://www.firebase.com">Firebase</a></h2>

      <p>Create a custom list of feeds, bookmark it, and come back any time for your real-time digital scoop.
          Or fork the code from <a href="http://katowulf.github.com/fireplace">GitHub</a>
          to build your own Angular + Firebase apps.</p>
  </section>

  <div ng-view class="clearfix"></div>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/underscore.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
  <script src="lib/angular/angular-sanitize.min.js"></script>
  <script src="http://static.firebase.com/v0/firebase.js"></script>
  <!--  required for isotope -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="lib/isotope.js"></script>
  <!--<script src="lib/imagesLoaded.js"></script>-->
  <!--<script src="lib/masonry.js"></script>-->
  <script src="lib/polyfills.js"></script>
  <script src="lib/angularFire.js"></script>
  <script src="lib/angularFireAggregate.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
